/*_mixins.scss */

/* Layout */
@mixin layout-lg {
  @media only screen and (max-width: $layout-size-lg) {
    @content;
  }
}

@mixin layout-md {
  @media only screen and (max-width: $layout-size-md) {
    @content;
  }
}

@mixin layout-sm {
  @media only screen and (max-width: $layout-size-sm) {
    @content;
  }
}

/*
Media queries currently in use:
$screen-xs:479px;
$screen-sm:767px;
$screen-md:959px;
$screen-lg:1199px;
*/

/* Animation */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@-webkit-keyframes scroll-mouse {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  30% {
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  70% {
    height: 15px;
    opacity: 1;
    -webkit-transform: translateY(12px);
    transform: translateY(12px)
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
}

@keyframes scroll-mouse {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  30% {
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  70% {
    height: 15px;
    opacity: 1;
    -webkit-transform: translateY(12px);
    transform: translateY(12px)
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
}



@-webkit-keyframes fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-from-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@-webkit-keyframes ani-ttb {
  0% {
    opacity: 0;
    animation-delay: 2s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }

  50% {
    opacity: 0;
    animation-delay: 2s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes ani-ttb {
  0% {
    opacity: 0;
    animation-delay: 2s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }

  50% {
    opacity: 0;
    animation-delay: 2s;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }

  100% {
    opacity: 1;
    animation-delay: 2s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}




@-webkit-keyframes hide-effect {
  0% {
    transform: translateX(-105%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes hide-effect {
  0% {
    transform: translateX(-105%)
  }

  to {
    transform: translateX(0)
  }
}

@-webkit-keyframes hide-effect {
  0% {
    transform: translateX(-105%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes hide-effect {
  0% {
    transform: translateX(-105%)
  }

  to {
    transform: translateX(0)
  }
}


@keyframes anchor-underline {
  0% {
    transform: translateX(0)
  }

  99.999% {
    transform: translateX(105%)
  }

  to {
    transform: translateX(-105%)
  }
}

@keyframes anchor-hover-underline {
  0% {
    transform: translateX(-105%)
  }

  to {
    transform: translateX(0)
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}